#home {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.home-left {
    height: 240px;
    position: relative;
    margin: 20px 110px 0 0;
    
}


.home-left img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    
}

.home-right {
    width: 50%;
}

.home-heading {
    font-size: 2rem;
    padding: 20px 0 0 25px;
    color: rgb(194, 15, 15);

}

.home-para {
    font-size: 19px;
    padding-top: 17px;
    padding-left: 30px;
    
}


@keyframes width {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#workFlow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.heading {
    margin: 1rem auto;
    text-align: center;
}

.para {
    margin: 1rem auto;
}

.num-container {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num-item {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: rgb(43, 126, 199);
}

/* Our Goal */
#goal {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.goal-left {
    width: 60%;
    line-height: 2rem;
}

.goal-left h2 {
    font-size: 2rem;
    padding: 20px 0 0 -10px;
    color: rgb(194, 15, 15);
}

.goal-left p {
    
    font-size: 19px;
    padding-top: 12px;
    padding-left: 15px;
}

.goal-left ul {
    list-style: none;
    font-size: 17px;
    
    
}

.goal-left ul li::before {
    line-height: 1.5rem;
    content: '✓';
    color: red;
}

.goal-right {
    position: relative;
    width: 35%;
}

.goal-right img {
    width: 95%;
    border-radius: 10px;
    
}

.goal-right img:hover {
    transform: translateY(-5px);
    filter: drop-shadow(5px 6px 7px black);
}

/* Our Team */
#our-Team {
    width: 85%;
    margin: 7rem 8rem;
    
}

#our-Team h2 {
    text-align: center;
    margin: 1rem auto 4rem;
    position: relative;
}

#our-Team h2::after {
    content: '';
    height: 4px;
    margin: 0 auto;
    text-align: center;
    width: 15%;
    background-color: rgb(249, 4, 4);
    position: absolute;
    left: 50%;
    bottom: -10px;
    border-radius: 5px;
    transform: translate(-50%);
}

.teamContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.team-item h5 {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.team-item span {
    margin-top: .4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(7, 176, 176);
}

.team-item img {
    width: 80px;
    border-radius: 50px;
    display: block;
}

footer {
    padding: 1rem 0;
    text-align: center;
}

@media screen and (max-width: 784px) {
    #list {
        display: none;
    }


    .responsive.active {
        left: 0%;
    }

    .goal-right {
        width: 100%;
        margin: 0 auto 2rem;
    }

    .goal-left {
        width: 100%;
        text-align: center;
    }

    #goal {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 633px) {
    #home {
        flex-direction: column;
    }

    .home-left {
        width: 100%;
        height: auto;
    }

    .home-left img {
        width: 100%;
    }

    .home-right {
        margin-top: 2rem;
        width: 100%;
    }

    .para {
        width: 90%;
    }

    .num-container {
        flex-direction: column;
    }

    .num-item {
        margin: 1rem;
    }

    .teamContainer {
        justify-content: center;
    }
}

/*________________________________________ java add________________________________________________________ */

.up {
    position: fixed;
    bottom: 10px;
    right: -30px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-family: arial, Tahoma;
    cursor: pointer;

}

.up.show {
    right: 10px;
}


.ask h2 {

    padding-left: 20px;

}

.ask input {
    width: 600px;
    border: solid 2px blue;
    border-radius: 10px;
}

.ask .btn {
    border: 1px solid blue;
    border-radius: 20px;
    background: blue;
    color: white;
    padding: 8px;
    margin-left: 40px;
}

.ask .champ {

    padding-left: 10%;
}